* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px dotted hotpink;
}

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	line-height: 1.5;
	color: black;
	background-color: white;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.navbar {
	background-color: #cccccc;
	color: black;
	height: 60px;
}

.navbar .container .navitems {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
