* {
	margin: 0;
	padding: 0;
	border: 1px solid hotpink;
}

body {
	background-color: white;
	color: black;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: lighter;
}

.container {
	background-color: #18a2b8;
	max-width: 1200px;
	width: 500px;
	/* height: 500px; */
	display: flex;
	/* flex-direction: column; */
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto; /*centers things well in the page*/
}

.title img {
	width: 95px;
	border-radius: 100px;
	border: 2px solid black;
}

.title {
	width: 500px;
}

h1 {
	font-size: 20px;
	margin-left: 10px;
}

p {
	font-size: 15px;
	margin-left: 20px;
}

.bio .bioicon {
	width: 30px;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 20px;
}

a {
	font-size: 15px;
}

.bio {
	background-color: white;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}
