h1 {
  color: pink;
}


/*
SELECTORS

Selecting a class

Another way to select a tag is by it's class.

class attribute:
HTML
<h1 class="muffin">muffins are delicious</h1>

CSS
.muffin {
    color: blue;
}

ID attribute:
HTML
<h1 id="muffin">muffins are delicious</h1>

CSS
#muffin {
    color: purple;
}

SELECTORS ADVANCED

Wildcard - the * selector selects the entire page

* {
    outline: 1px solid red;
}

This will draw a red outline around every element on the page.

If you have multiple attributes per element there is a hirearchy of what the code will return.

In this example:

* {
    color: blue; 
}

h1 {
    color: rebeccapurple;
}
.green {
    color: mediumseagreen;
}
#red {
    color: tomato;
}

the result will be tomato because the ID is has the most strength.

* < h1 < class < ID

DESCENDENT SELECTOR

This is useful if you want to select a child element or a grandchild element from a block.
HTML
<div class ="quote">
<p>Blah blah blah</p>
</div>

CSS - if you just want to select the p element
.quote p {
    font-style: italic;
}

DIRECT DESCENDANT SELECTOR - If you want to select a child element with selector >
but it won't select grandchildren

HTML
<div class="header">
    <img src="brand.img" alt="brand image">
    <img src="icon.img" alt="icon image">
</div>

CSS
.header > img {
    height: 50px;
}

Here the height of the brand image will change but not the height of the icon image.

COMBINING SELECTORS

We can make stronger selectors by combining them.

ATTRIBUTE SELECTOR

If there is a situation where you want to style two similar elements that rely on an attribute. For example if you have 
more than one button and you want one to be one color and size and another to be a different color and size.

HTML:
<form action="/process" method="post">
    <input type="text" name="username" value="Rebecca">
    <input type="submit" value="Enter Username">
</form>

CSS:
input {
    padding: 5px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}

CSS PROPERTIES - COLOR

color types:
name - names of colors
    -black,white,red,green,blue,pink

RGB - number between 0 and 225 and they are set for red,green and blue
    -rgb(0,0,0), rgb(255,255,255),rgb(255,0,9)

hexadecimal - each also has a pain of numbers and letters representing red, green and blue
    -#000000,#ffffff,#ff0000,#008000

(are all valid values for 0 through 15. The hexadecimal number FF when expressed in decimal (base 10) is 255)

******

Color: color of the font 
background-color: color of the background

h1 {
    color:black;
    background-color:white;
}

*****

CSS PROPERTIES - TEXT

text-align is a css property that adjusts the text alignment.
text-align: left;
text-align: right;
text-align: center;

text-decoration is a property that affects the text look
text-decoration: underline;
text-decoration: line through;
text-decoration:none;

font-style is a property you can use to add/remove italics
font-style: italic;
font-style: normal; 

font-weight is a property that can change the width of the font
font-weight: normal;
font-weight: bold;
font-weight: light;

(it also accepts number values 100 - 900 etc

FONT FAMILY

font-family is used to change the font of the text
font-family: serif;
font-family: monospace;
font-family: cursive;


