body {
	display: flex;
	flex-direction: column;
	/*you need to make sure that if this gets mesed up that you are applying flex to all the correct parents*/
	align-items: center;
}

header {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
	font-weight: lighter;
}

nav {
	margin-bottom: 1em;
	text-align: center;
	border: 2px solid black;
	background-color: rgba(83, 15, 15, 0.427);
}

a {
	padding: 1em;
	text-decoration: none;
	color: black;
}

main {
	display: flex;
	flex-direction: column;
	width: 95%;
	align-items: center;
}

div {
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: space-evenly; /*centered evenly but spaced apart*/
	margin: 1em;
}

.small {
	width: 200px;
	padding: 2em;
}

.large {
	width: 500px;
	text-align: center;
	margin: auto;
}
