* {
	border: 1px red dotted;
}

/* body {
	display: flex;
	flex-direction: row;
} */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	background-color: black;
	color: white;
	margin: auto;
}

a {
	color: white;
	padding: 100px;
	align-items: center;

	/* width: 50%; */
}

.signOut {
	justify-content: end;
	width: 1000px;
	display: flex;
}

.container1,
.container2,
.container3,
.container4 {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.blueTag {
	background-color: aqua;
	height: 100px;
	width: 400px;
	display: flex;
	margin-right: 20px;
}

container1 {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	height: 800px;
	width: 400px;
}
